---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: {{ bootstraptoken }}
    apiServerEndpoint: {{ apiServerEndpoint }}
    caCertHashes:
      - {{ discovery_token_ca_cert_hash }}
nodeRegistration:
  name: {{ workernode_private_ip_hostname }}
  kubeletExtraArgs:
    cloud-provider: external
