global:
  scrape_interval: 15s 
  evaluation_interval: 15s 

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - {{ work_private_ip }}:9093

rule_files:
    - "alert_rules.yml"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
        - {{ work_private_ip }}:9090
  - job_name: node
    static_configs:
      - targets:
        - {{ work_private_ip }}:9100
        - {{ db_private_ip }}:9100
  - job_name: mysql
    static_configs:
      - targets:
        - {{ db_private_ip }}:9104
  - job_name: federate
    scrape_interval: 15s
    honor_labels: true
    metrics_path: /federate
    params:
      'match[]':
        - '{job="prometheus"}'
        - '{job="node-exporter"}'
        - '{job="kube-state-metrics"}'
        - '{__name__=~"job:.*"}'
    static_configs:
      - targets:
        - {{ workernode_private_ip }}:{{ prometheus_service_nodeport }}
  - job_name: blackbox
    scrape_timeout: 10s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://ankiba.net/
        labels:
          group: 'response'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115